---
import MainLayout from "../components/layout/MainLayout.astro";
import Hero from "../components/home/Hero.astro";
import About from "../components/home/About.astro";
import Services from "../components/home/Services.astro";
import LocationsSection from "../components/sections/LocationsSection.astro";
import Contact from "../components/home/Contact.astro";
import CircuitDivider from "../components/common/CircuitDivider.astro";
---

<MainLayout>
  <Hero />

  <CircuitDivider />

  <div class="relative">
    <div
      class="absolute inset-0 -z-10 pointer-events-none"
      style="background: linear-gradient(180deg, var(--c-wrapper-1) 0%, var(--c-wrapper-2) 50%, var(--c-wrapper-3) 100%);"
    ></div>

    <div
      class="absolute top-0 left-0 right-0 h-32 pointer-events-none z-0"
      style="background: linear-gradient(180deg, var(--c-fade) 0%, transparent 100%);"
    ></div>

    <div
      class="absolute bottom-0 left-0 right-0 h-32 pointer-events-none z-0"
      style="background: linear-gradient(0deg, var(--c-fade) 0%, transparent 100%);"
    ></div>

    <About />
    <Services />
    <LocationsSection />
  </div>

  <Contact />
</MainLayout>
